@model List<KWRT.ViewModels.VMProduct>
@{
    ViewBag.Title = "Index";
}
<div class="col-md-12">
    <div class="col-md-2 col-md-offset-10">
        <div class="btn btn-default">
            @Html.ActionLink("Dodaj produkt", "AddProduct","Products")
        </div>
    </div>
    @foreach (var product in Model)
    {
        <div class="col-md-3 table-bordered">
            <h3>@product.Name<span class="label label-default"></span></h3>
            <span>
                @product.Description
            </span>
        </div>
    }

</div>

