
@{
    ViewBag.Title = "Index";
}
<div class="col-md-12">
    <div class="col-md-2 col-md-offset-10">
        <div class="btn btn-default">
            @Html.ActionLink("Dodaj produkt", "AddProduct","Products")
        </div>
    </div>
</div>

